/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Abhaya Libre;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: antiquewhite;

}
